<mat-toolbar>
  <div>
    <button mat-icon-button aria-label="icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>{{ title }}</span>
  </div>
  <div>
    <button mat-icon-button aria-label="icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button aria-label="icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
  </div>
</mat-toolbar>


<section class="times">
  <ng-container *ngFor="let field of tempFields">
    <mat-form-field appearance="outline" class="times-field" *ngIf="field.time">
      <mat-label>{{ field.label }}</mat-label>
      <input matInput disabled [ngModel]="field.time | date:'shortTime'">
      <mat-hint>{{ field.hint }}</mat-hint>
    </mat-form-field>
  </ng-container>
  

  <button 
    mat-flat-button 
    color="primary"
    class="times-field"
    (click)="addTime()"
    >Je pointe !
  </button>
  <button
    mat-stroked-button
    color="warn"
    class="times-field"
    (click)="clearTimes()"
  >
    Effacer
  </button>
</section>
